# General deployment parameters.
# Deploy id + the deployer address acts as a key to determine deployed contract addresses.
# It should only be set once and never change, unless you are planning to redeploy everything.
# Prod deployment uses DEPLOY_ID=MVP
DEPLOY_ID=

# Upgrade id + the deployer address acts as a key to determine address of new versions of implementations
# or instances. It should be set for a particular release, when upgrade scripts are executed across all chains.
# There where no prod contract updates execute yet, but Liquidity Mining redeployment used UPGRADE_ID=MVP2
UPGRADE_ID=V1

# Deployer address is used to determine deployed contract addresses when the script/task is executed
# with a key that is different from original deployer (eg. admin).
# Prod deployed with DEPLOYER_ADDRESS=0xD44E9811169e0e84363a9c689eEcbBc73ffDfE2b
# Stage deployed with DEPLOYER_ADDRESS=0xdBD91aD22bE5304e385b7b0A2Cfe91164e416e11
# Stage Standalone Repayer deployed with DEPLOYER_ADDRESS=0x1aA2a264DBD6538b5daA1aE6034d252415d8d4B5
DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# Private key that is going to sign transactions be that deployment or other scripts/tasks.
PRIVATE_KEY=

VERIFY=false

BASE_SEPOLIA_RPC=https://sepolia.base.org
ETHEREUM_SEPOLIA_RPC=
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
OP_SEPOLIA_RPC=https://sepolia.optimism.io
BASE_RPC=https://base-mainnet.public.blastapi.io
ETHEREUM_RPC=https://eth-mainnet.public.blastapi.io
ARBITRUM_ONE_RPC=https://arbitrum-one.public.blastapi.io
OP_MAINNET_RPC=https://optimism-mainnet.public.blastapi.io
POLYGON_MAINNET_RPC=https://polygon-bor-rpc.publicnode.com
UNICHAIN_RPC=https://mainnet.unichain.org

# Etherscan now uses a single API key for all chains.
ETHERSCAN_API_KEY=

# Testing parameters.
FORK_PROVIDER=https://base-mainnet.public.blastapi.io
USDC_OWNER_ADDRESS=0x498581fF718922c3f8e6A244956aF099B2652b2b
GHO_OWNER_ADDRESS=0x498581fF718922c3f8e6A244956aF099B2652b2b
EURC_OWNER_ADDRESS=0x498581fF718922c3f8e6A244956aF099B2652b2b
WETH_OWNER_ADDRESS=0x498581fF718922c3f8e6A244956aF099B2652b2b
PRIME_OWNER_ADDRESS=0x75a44A70cCb0E886E25084Be14bD45af57915451
USDC_OWNER_ETH_ADDRESS=0x40ec5B33f54e0E8A33A975908C5BA1c14e5BbbDf
